<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h4>Edit Overview </h4>      

      <%= form_tag "/profiles/#{@profile.id}", method: :patch do %>

        <form>
          
          <input type="hidden" name="user_id"  value="<%= current_user.id %>">

          <div class="form-group">
            <label for="focusedInput">Overview</label>
            <textarea type="text" class="form-control" name="overview" id="focusedInput"  placeholder="Enter your overview"><%= @profile.overview %></textarea>
          </div>

          <div class="checkbox">
            <input type="submit" name="Submit">
          </div>

        </form>

      <% end %>
    </div>
  </div>
</div>