<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h4>Create your Profile </h4>      

      <%= form_tag "/profiles", method: :post do %>

        <form>
          
          <input type="hidden" name="user_id"  value="<%= current_user.id %>">

          <div class="form-group">
            <label for="focusedInput">Overview</label>
            <textarea type="text" class="form-control" name="overview" id="focusedInput"  placeholder="Enter your overview"></textarea>
          </div>

          <div class="form-group">
            
            <input type="hidden" class="form-control" name="portfolio" id="focusedInput"  value="No information to display">
          </div>

          <div class="form-group">
            
            <input type="hidden" class="form-control" name="employment_history" id="focusedInput"  value="No information to display">
          </div>

          <div class="form-group">
            
            <input type="hidden" class="form-control" name="education" id="focusedInput"  value="No information to display">
          </div>

          <div class="form-group">
            
            <input type="hidden" class="form-control" name="certifications" id="focusedInput"  value="No information to display">
          </div>

          <div class="checkbox">
            <input type="submit" name="Submit">
          </div>
        </form>

      <% end %>
    </div>
  </div>
</div>