<body class="login">
  <div class="container" id="login">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div id="logbox1">
          <%= form_tag "/login", method: :post do %>
            <h2 style="font-family: 'Old Standard TT';text-align: center;">Login</h2>
            <input name="email" type="email" placeholder="Enter your email" class="input pass"/>
            <input name="password" type="password" placeholder="Enter your password" required="required" class="input pass"/>
            <input type="submit" value="Login" class="inputButton"/>
            <div class="text-center"">
              Don't already have an account?<a href="/signup" id=""> <strong>Create an Account</strong></a> 
            </div>
          <% end %>
        </div>
       </div>
    </div>
  </div>
</body>