
<!-- Navbar (sit on top) -->




<body class="choose">
  <%= button_to "Hiring/Employer", "/signup", class: "btn btn-primary", method: :get  %>
  <%= button_to "Freelancer", "/freelancer", class: "btn btn-primary", method: :get  %>
</body>
          