<div class="container">
<div class="jumbotron">    
<body class="choose">
  <p style="color: white; font-size: 20px">You can join UpYouth as:</p>
  <%= button_to "Hiring/Employer", "/signup",  class: "btn btn-primary employer", method: :get  %>
  <%= button_to "Freelancer", "/freelancer", class: "btn btn-primary freelancer", method: :get  %>
</body>
</div>
</div>

          