<div id="wrapper">
  <h1><strong>ClearNav</strong> responsive navigation</h1>
  <nav role="navigation" id="access">
    <a class="skip-link icon-reorder" title="Accéder au menu" href="#menu">Menu</a>
    <ul id="menu">
      <li class="active"><a class="icon-home" href="#accueil">Home</a></li><!-- whitespace
                --><li><a class="icon-group" href="#quisommesnous">About Us</a></li><!-- whitespace
                --><li><a class="icon-leaf" href="#services">Services</a></li><!-- whitespace
                --><li><a class="icon-picture" href="#portfolio">Portfolio</a></li><!-- whitespace
                --><li><a class="icon-envelope-alt" href="#contact">Contact</a></li>
          </ul>
      </nav>
</div>
          