<header class="masthead">
  <div class="overlay">
    <div class="container-fluid">
      <!-- <h1 class="display-1 text-white">One Page Wonder</h1>
      <h2 class="display-4 text-white">Will Rock Your Socks Off</h2> -->
    </div>
  </div>
</header>

<section id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="section-heading">How it Works</h3>
                <h3 class="section-subheading text-muted">More information about how to use this website</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Hire a Freelancer</h4>
                <p class="text-muted">To hire a freelancer, you have to open a new account as an employer. Then, you will be able to post your job, and receive all application that are submitted to your job.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Get a Job</h4>
                <p class="text-muted">If you are a freelancer, you must open a new account as a freelancer and set up your account and profile. After, you will able to see all available jobs and be able to sumbit your application.</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Get Payment</h4>
                <p class="text-muted">After getting job, you can receive the payment from the employers if you finished their works..</p>
            </div>
        </div>
    </div>
</section>