<body class="signup">
  <div>
    <div class="container" >
       <div class="col-md-3"></div>
       <div class="col-md-6" >
           <div id="logbox">
               <%= form_tag '/users', method: :post do  %>
                   <h2 style="font-family: 'Old Standard TT';text-align: center;">Create a Freelancer Account</h2>
                   <input name="first_name" type="text" placeholder="First Name" class="input pass"/>
                   <input name="last_name" type="text" placeholder="Last Name" class="input pass"/>
                   <input type="hidden" name="role_id" value="<%= @roles.second.id%>"/>
                   <input name="email" type="email" placeholder="Email address" class="input pass"/>
                   <input name="password" type="password" placeholder="Choose a password" required="required" class="input pass"/>
                   <input name="password_confirmation" type="password" placeholder="Confirm password" required="required" class="input pass"/>
                   <input type="submit" value="Sign me up!" class="inputButton"/>
               <% end %>
           </div>
       </div>
       <!--col-md-6-->


    </div>
    </div>
</body>

