<div class="container-fluid" id="create">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 w3-border w3-margin" style="text-align: center;background-color: white;height: 300px;padding-top: 60px;">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title" style="font-family: 'Old Standard TT';">Find Top Freelancers</h3>
          <p class="card-text">Create an account as an employer. You can find the best freelancer around the world with the outstanding skills and experience.</p>
          <a href="/employer" class="btn btn-primary w3-margin">Find Freelancer</a>
        </div>
      </div>
    </div>
    <div class="col-sm-1 divider"></div>
    <div class="col-sm-5 w3-border w3-margin" style="text-align: center;background-color: white;height: 300px;padding-top: 60px;">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title" style="font-family: 'Old Standard TT';">Get Jobs Online</h3>
          <p class="card-text">By creating the freelancer account, you can get access to several jobs around the world that are related to your skills.</p>
          <a href="/freelancer" class="btn btn-primary w3-margin">Find Work</a>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>