<div class="container-fluid" id="create">
  <div class="row">
    <div class="col-sm-5 w3-border w3-margin" style="text-align: center;background-color: lightgrey;">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/employer" class="btn btn-primary w3-margin">Hire Freelancer</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5 w3-border w3-margin" style="text-align: center;background-color: lightgrey;">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/freelancer" class="btn btn-primary w3-margin">Find Work</a>
        </div>
      </div>
    </div>
  </div>
</div>