<div class="row" style="padding-top: 30px;">
  <div class="spacer"></div>
  <div class="col-md-12"></div>
    <%= link_to "Compose New Message", new_conversation_path, class: "btn btn-success", style:"margin-left: 32px;" %>
  </div><br>
    <div class="spacer"></div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>

</div>