<table>
  <tr>
    <th>
      <p> <strong>Title</strong> </p>
    </th>
    <th>
      <p> <strong>Short Description</strong> </p>
    </th>
    <th>
      <p> <strong>Work File</strong> </p>
    </th>
  </tr>
 <% @submissions.each do|submission| %>

  <tr>
    <td>
      <p><%= submission.title %></p>
    </td>
    <td>
      <%= submission.description %>
    </td>
    <td>
    <%= link_to "Download Work", submission.file_url %>
    </td>
    </tr>
<% end %>
</table>
