<div class="container">
  <div class="row"> 
  <button type="submit" class="btn btn-success"><%= link_to "Post A New Job", "/posts/new" %></button>
  <table>
    <tr>
      <th>
        Job Title
      </th>
      <th>
        Applications 
      </th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td> <%= link_to post.title, "/posts/#{post.id}" %> </td>
           
        <td><%= button_to "Delete", "/posts/#{post.id}", class: "btn btn-danger", method: :delete, data: { confirm: 'are you sure?' } %></td>   
      </tr>
    <% end %>
  </table>
  </div>
</div>