<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h5>Jobs Available</h5>       
          <% @posts.each do |post| %>
            <div class="jumbotron">
              <h6><%= link_to post.title, "/posts/#{post.id}"%></h6>
              <%= (raw post.description.truncate(200)) %>
              <%= link_to "| Read More", "/posts/#{post.id}" %></p>

            </div>
            <br>
          <% end %>
    </div>
    
    <div class="col-md-2">
    </div>
  </div>
</div>