<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-6">

      <h4> New Job Post </h4>      

      <%= form_tag "/posts", method: :post do %>

      <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

        <form>
          
          <input type="hidden" name="user_id"  value="<%= current_user.id %>">

          <div class="form-group">
            <label for="focusedInput">Title of the Job</label>
            <input type="text" class="form-control" name="title" id="focusedInput"  placeholder="Enter the title">
          </div>
          
           <div class="form-group">
            <label for="focusedInput">Job Category</label>
              <select name="category_id">
              <option value="" disabled selected>Select your category</option>
                <% @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
             </select>
          </div>

          
          <div class="form-group">
            <label>Job Description</label>
            <textarea name="description"></textarea>
              <script>
                  CKEDITOR.replace( 'description' );
              </script>
          </div>

          <div class="form-group">
            <label for="focusedInput">Budget</label>
            <input type="text" class="form-control" id="focusedInput" name="budget" placeholder="Enter the budget for the job">
          </div>

          <div class="form-group">
            <label for="focusedInput">Required Skills</label>
            <textarea class="form-control" name="skills" id="focusedInput" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="example-date-input">Deadline</label>
            <input type="date" class="form-control" name="deadline" id="example-date-input"  placeholder="Enter the deadline">
          </div>
         
          <div class="checkbox">
            <input type="submit" name="Submit">
          </div>
        </form>

      <% end %>
    </div>
  </div>
</div>
