// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {font-family: "Times New Roman", Georgia, Serif; ; }
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
    
}
.choose {
  padding-top: 20%;
  width: 30%;
  background-image: url("desktop.jpg");
  background-size: 100%;

}
