// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body{
  font-family: 'Old Standard TT', serif;
 }

#pro_picture {
    height: 100px;
    width: 100px;
    border-radius:50px;
}

 #profile_picture {
  background-color: white;
  width: 250px;
  height: 150px;
  float: left;
  margin-left: -400px;
  margin-top: -30px;
}

